@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PlusJakataSan";
  src: url("/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf")
    format("woff2"); /* Modern Browsers */
}
@font-face{
    font-family: "Josefin";
    src: url("/JosefinSans-VariableFont_wght.ttf")
      format("woff2"); 
  /* Add more source formats if needed */
}

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
}
.backImg {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  background-image: url("/first-bg.png");
  /* padding-bottom: 50px; */
}

.footer {
  width: 100%;
  height: 100%;
  background-image: url("/footer.png");
}
/* .ife{

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
} */